<div class="flex flex-column-reverse">
  <div class="row">
    <div class="m-t-1">
      <button class="btn btn-primary m-1" (click)="doGET()">GET</button>
      <button class="btn btn-primary m-1" (click)="doPOST()">POST</button>
      <button class="btn btn-primary m-1" (click)="doPUT()">PUT</button>
      <button class="btn btn-danger m-1" (click)="doDELETE()">DELETE</button>
    </div>
  </div>

  <div class="row"></div>
  <div class="m-t-1">
    <button class="btn btn-secondary" (click)="doGETAsPromise()">
      As Promise
    </button>
    <button class="btn btn-secondary" (click)="doGETAsPromiseError()">
      Error as Promise
    </button>
    <button class="btn btn-secondary" (click)="doGETAsObservableError()">
      Error as Observable
    </button>
  </div>

  <div class="row">
    <div class="m-t-1">
      <button class="btn btn-danger" (click)="doGETWithHeaders()">
        With Headers
      </button>
    </div>
  </div>
</div>
