<div class="form-container" hidden>
  <div
    class="close"
    (click)="closePopup()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24"
      height="24"
      color="#000000"
      fill="none"
    >
      <path
        d="M19.0005 4.99988L5.00049 18.9999M5.00049 4.99988L19.0005 18.9999"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
  <form class="form">
    <div class="seconds">
      <input
        class="input"
        type="text"
        name="seconds"
        value=""
        placeholder="00"
        #seconds
      />
    </div>

    <div class="minutes">
      <input
        class="input"
        type="text"
        name="minutes"
        value=""
        placeholder="00"
        #minutes
      />
    </div>

    <div class="hours">
      <input
        class="input"
        type="text"
        name="hours"
        value=""
        placeholder="00"
        #hours
      />
    </div>

    <div class="create">
      <button
        type="submit"
        (click)="createNewTimer(seconds.value, minutes.value, hours.value)"
      >
        create
      </button>
    </div>
  </form>
</div>
